* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  /* font-color: white; */
  /* FB5A4B , 202231 */
  background-color: rgb(251, 171, 126, 0.1);
  /* background: linear-gradient(
    to bottom,
    rgba(250, 244, 236, 0.5) 0%,
    rgba(249, 232, 210, 0.5) 15%,
    rgba(243, 217, 193, 0.5) 30%,
    rgba(247, 226, 210, 0.5) 50%,
    rgba(243, 217, 193, 0.5) 70%,
    rgba(249, 232, 210, 0.5) 100%
  ); */
 
  margin: 0;
  padding: 0;
}

/* Navbar */
.header {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  backdrop-filter: blur(10px);
  padding: 0 20px;
  width: 95%;
  border-radius: 20px;
  transition: top 10s ease;
  border: 2px solid rgba(0, 0, 0, 0.168);
  box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.1);
  background-color: rgb(251, 171, 126, 0.2);
  z-index: 1000;
  margin-bottom: 10px;

}

.header:hover {
  background-color: rgb(251, 171, 126, 0.3);
box-shadow: 0px 0px 10px rgba(251, 171, 126, 0.6),
    0px 0px 20px rgba(251, 171, 126, 0.4),
    0px 0px 30px rgba(251, 171, 126, 0.2);
}
.logo {
  height: 4rem;
}
.org-logo {
  width: 8rem;
  height: auto;
}
.login {
  height: inherit;
  justify-self: flex-end;
  background: none;
  border: none;
  font-size: 1rem;
  background-color: rgb(251, 171, 126, 0.7);
  height: 3rem;
  width: 5rem;
}
.header-linkbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.header-link {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px none black;
  border-radius: 10px;
}
.header-link:hover {
  background-color: rgb(251, 171, 126, 0.7);
}
.login:hover {
  background-color: rgb(251, 171, 126, 1);
}
.sticky {
  position: fixed;
  top: 0;
  margin: 0 auto;
  margin-top: 10px;
  width: 1400.8px;
  border: 2px solid rgba(0, 0, 0, 0.168);
  box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.1);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(251, 171, 126, 0.2);
  transition: top 10s ease; /* Add transition for smooth animation */
}
.sticky + .content {
  padding-top: 102px;
}
.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
#login-button {
  color: black;
  text-decoration: none;
}
