body{
   height: 60vh;
}

.hide{
    display: none !important;
}

#peer-results, #search-results, #application-results{
    max-height: 100%;
    overflow-y: scroll;
    width: 750px;
    margin: 0 auto; 
    padding-top: 15px;  
    margin-top: -10px;
    min-height: 500px;
}

#search-results{
    max-height: 600px;
    width: 900px;
}

#peer-results, #application-results{
    width: 900px;
}

#peer-results::-webkit-scrollbar, #search-results::-webkit-scrollbar, #application-results::-webkit-scrollbar{
    display: none;
}

#application-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.project-button{
    background: none;
    border: none;
    min-width: 700px;
    max-height: 300px;
} 
.project-card{
    max-height: 280px;
    overflow-y: hidden;
}

.project-button, .application-card{
    margin: 20px auto;
    margin-left: 50px;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 10px 25px;
    min-height: 150px;
    max-width: 700px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.project-button, .application-button{
    margin-left: 100px;
    text-align: left !important;
}
.peer-button, .application-card{
    width: 700px;
    margin: 20px auto;
}
.project-card{
    margin-left: 0px;
}
.application-card:hover{
    margin: 5px 0;
    margin-left: 105px;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 10px 25px;
    min-height: 150px;
    max-width: 700px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
.application-card{
    margin: 5px auto;
}
.application-card:hover{
    margin-left: 5px;
}
.project-button:hover{
    margin: 20px 0;
    margin-left: 105px;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 150px;
    max-width: 700px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.35);
}

.autocomplete{
    /* background-color: rgb(253, 77, 4, 0.15); */
    border-radius: 8px;
    top: 100%;
    min-width: fit-content;
    font-size: 16px;
    background-color: rgb(255, 255, 255, 0.25);
    z-index: 100;
    backdrop-filter: blur(10px); /* Add background blur */

}

#dropdown-results{
    margin-top: 15px;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 100;
    padding-left: 20px;
}
.d-res{
    /* margin-bottom: 10px; */
    padding: 10px;
}
.d-res:hover{
    background-color: rgb(251, 171, 126, 0.5);
    border-radius: 20px;
    padding-left: 5px;
    width: 100%;
}

.headerdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statusdiv{
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: azure;
}
/* .header-div{
    background-color: rgb(251, 171, 126, 0.5);
    padding: 10px 20px;
    border-radius: 20px;
} */

/* 
#search-results{
    max-height: 100%;
    overflow-y: scroll;
    width: 900px;
    margin: 0 auto;
}

#search-results::-webkit-scrollbar{
    display: none;
}

.project-card{
    margin: 16px 0;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 150px;
    max-width: 750px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#projectPage *{
    text-decoration: none;
} */


.peer-button{
    background: none;
    border: none;
    min-width: 700px;
    max-height: 300px;
    margin: 20px auto;
    margin-left: 110px;
    border-radius: 20px;
    padding: 10px 25px;
    min-height: 150px;
    max-width: 700px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    text-align: left !important;
}

.peer-button:hover{
    margin: 20px 0;
    margin-left: 115px;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 150px;
    max-width: 700px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.35);
}

#peer-results{
    max-height: 100%;
    overflow-y: scroll;
    width: 900px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}