/* #search-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#search-results h1{
    justify-self: start;
    margin-bottom: 20px;
} */


#search-results{
    max-height: 1049.6px;
    overflow-y: scroll;
    width: max-content;
    margin: 0 auto;
}

#search-results::-webkit-scrollbar{
    display: none;
}
/* 
#scroll-watcher{
    height: 10px;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    z-index: 100;
    scale: 0.1 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll(nearest);
}

@keyframes scroll-watcher{
    to {scale: 1 1;}
} */

.project-card{
    margin: 16px 0;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 150px;
    max-width: 900px;
}

#peer-results{
    max-height: 1049.6px;
    overflow-y: scroll;
    width: 700px;
    margin: 0 auto;
    
}

#peer-results::-webkit-scrollbar{
    display: none;
}

.peer-card{
    margin: 16px 0;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 150px;
    max-width: 900px;
}