body{
   height: 60vh;
}

.hide{
    display: none;
}

#peer-results, #search-results{
    max-height: 100%;
    overflow-y: scroll;
    width: 750px;
    margin: 0 auto; 
    padding-top: 15px;  
    margin-top: -10px;
}

#search-results{
    max-height: 600px;
    width: 900px;
}

#peer-results::-webkit-scrollbar, #search-results::-webkit-scrollbar{
    display: none;
}
.project-button{
    background: none;
    border: none;
    min-width: 700px;
}

.peer-card, .project-button{
    margin: 20px 0;
    margin-left: 20px;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 10px 25px;
    min-height: 150px;
    max-width: 700px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.project-button{
    margin-left: 100px;
}
.project-card{
    margin-left: 0px;

}
.project-button:hover{
    margin: 20px 0;
    margin-left: 105px;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 150px;
    max-width: 700px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6);
}

/* 
#search-results{
    max-height: 100%;
    overflow-y: scroll;
    width: 900px;
    margin: 0 auto;
}

#search-results::-webkit-scrollbar{
    display: none;
}

.project-card{
    margin: 16px 0;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 150px;
    max-width: 750px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#projectPage *{
    text-decoration: none;
} */