#welcome-text{
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}


#content{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#profile{
    /* border: 5px solid black; */
    height: 90%;
    width: 35%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 128, 128, 0.2);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    background: #e0e0e0;
    box-shadow: 20px 20px 60px rgb(190, 190, 190, 0.5);
}
#detail-modal{
    justify-self: flex-end;
    align-self: flex-end;
}
#profile:hover{
    /* border: 5px solid black; */
    height: 90%;
    width: 35%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 128, 128, 0.2);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    background: #e0e0e0;
    box-shadow: 20px 20px 60px rgb(190, 190, 190);
}
#profile:hover #detail-modal{
    /* display: block; */
    visibility: visible !important;
}

#profile-image{
    padding-top: 10px;
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); */
}

.profile-details{
    align-self: self-start;
    padding-left: 20px;
    /* margin-top: 40px;  */
}

#my-projects{
    /* border: 5px solid black; */
    height: 90%;
    width: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#project-list{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100%;
    margin-left : 80px;
}

#project-list::-webkit-scrollbar{
    display: none;
}

/* #project-list:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.375);
} */
.project-entry{
    /* border: 1px solid black; */
    align-self: flex-start;
    margin-top: 10px;
    padding: 10px;
}

#welcome-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#create-project{
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

.project-parameters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dashboard-nav-link:hover, #peers-nav-link:hover, #applications-nav-link:hover, #search-nav-link:hover {
    background-color: rgba(253, 77, 4, 0.1);
    color: rgb(251, 171, 126);    border-radius: 10px;
}

.btn-primary{
    background-color:rgb(251, 171, 126) !important;
}

.btn{
    border-color: rgb(251, 171, 126) !important;
}


#skills-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 10px;
    /* width: 100%; */
    /* border-radius: 20px; */
    /* padding: 10px; */
}

#skills{
    height: 100%;
    outline: none;
    padding-left: 5px;
    /* border-radius: 20px; */
}


.skill-btn{
    border-style: none;
    background-color: rgb(251, 171, 126);
    padding: 8px;
    border-radius: 20px;
    margin: 5px;
    width: fit-content;
    max-width: 100%;
}

.skill-btn *{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}   

.skill-btn:hover::after{
    content: ' \274C';
    /* transition: all 0.5s; */
    
}
.skill-btn:hover{
    font-weight: 900;
}


.buttonsdiv{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}


#exp-list{
    overflow-y: scroll !important;
}

.exp-entry{
    border-style: none;
    background-color: rgb(251, 171, 126, 0.5);
    padding: 8px;
    border-radius: 20px;
    margin: 5px;
    margin-right: 10px;
    position: relative;
}

.delete-button{
    background-color: rgb(251, 171, 126);
    border-style: none;
    padding: 8px;
    border-radius: 20px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    visibility: hidden;
}

.exp-entry:hover .delete-button{
    visibility: visible;
}