#welcome-text{
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}


#content{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#profile{
    /* border: 5px solid black; */
    height: 90%;
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 128, 128, 0.2);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#profile:hover{
    /* border: 5px solid black; */
    height: 90%;
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 128, 128, 0.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.375);
}

#profile-image{
    padding-top: 10px;
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); */
}

.profile-details{
    align-self: self-start;
    padding-left: 20px;
    margin-top: 40px; 
}

#my-projects{
    /* border: 5px solid black; */
    height: 90%;
    width: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#project-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100%;
}

#project-list::-webkit-scrollbar{
    display: none;
}

/* #project-list:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.375);
} */
.project-entry{
    /* border: 1px solid black; */
    align-self: flex-start;
    margin-top: 10px;
    padding: 10px;
}

#welcome-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#create-project{
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.project-parameters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dashboard-nav-link:hover, #peers-nav-link:hover, #applications-nav-link:hover, #search-nav-link:hover {
    background-color: rgba(253, 77, 4, 0.1);
    color:#ca3d03;
    border-radius: 10px;
}

.btn-primary{
    background-color: rgb(253, 77, 4) !important;
}

.btn{
    border-color: #ca3d03 !important;
}